name: CI

on: [push]

jobs:
  package:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install-helm
      run: |
        ls
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 > get_helm.sh
        chmod 700 get_helm.sh
        ./get_helm.sh
        helm
    - name: install-helm
      run: |
        helm package advanced/mysql-am
        
