name: CI

on: [push]

jobs:
  package:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install-helm
      run: |
        ls
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 > get_helm.sh
        chmod 700 get_helm.sh
        ./get_helm.sh
        helm plugin install https://github.com/chartmuseum/helm-push
        helm repo add wso2 https://helm.wso2.com
    - name: package-chart
      run: |
        helm package -u advanced/mysql-am
        helm chart push wso2/mysql-am
